# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Minecraft / Forge
run/
logs/
*.log

# Forge libs
libs/

# OS
.DS_Store
Thumbs.db

# Java
*.class

# Generated
bin/